<main>
    <h1 class="title" id="title-search">My favorites</h1>
    <div class="recipes-container" id="wrap">
        {{#each favRecipes}}
        <div class="recipe">
            <img class="image-grid" idRecipe={{this._id}} src={{this.imageURL}} alt="">
            <h1 class="type-dish">{{this.type}}</h1>
            <button class="recipe__love" idrecipebtn={{id}}>
                {{#if isLiked}}
                <i class=" heart far fa-heart fa-2x"></i>
                {{else}}
                <i class=" far fa-heart fa-2x"></i>
                {{/if}}
            </button>
            <div class="recipe-details">
                <div class="recipe-name">{{this.title}}
                </div>
                <div class="duration-column">
                    <i class="far fa-clock"></i>
                    <div class="duration">{{this.duration}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>